html{
	height: 100%;
	margin-bottom: 0 !important;
}
body{
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/*登陆/注册按钮*/
#Login{
	position: absolute;
	float: left;
	right: -10rem;
}

/*元素居中*/
.middle {     
	width: auto;
	display:table;
	margin: auto;
}

/*文字方向旋转*/
.sidebar{	
	position:absolute;
	left:0px;
	padding:0;
	z-index: 1000;
	writing-mode:vertical-rl;
	text-orientation:mixed;
	display: inline-flex;
	margin-top: 100px;
}
.sidebar ul{
	display: inline-flex;
	width: 10px;
	height: 100%;
}
.sidebar ul li{
	margin-top: 150px;
	height: 320px;
}

/*作品榜展示样式设置*/
@media{
	/*模块间距*/
    .card-columns {
        column-count: 2 !important;
        column-gap: 5em!important;
    }
	/*模块样式*/
    .card{
    	margin-bottom: 3em !important;
    	border-radius: 1.5em !important;
    	border-style: none !important;
    	font-family: 思源黑体 CN;    	
    }
    /*展示图片与边框的距离*/
    .card-img-top{
    	padding-top: 3em !important;
    	padding-left: 2.5em !important;
    	padding-right: 2.5em !important;
    	padding-bottom: 2em !important;
    }
    /*图片展示区域在模块中的位置*/
    .card-body{
    	padding-bottom: 2.2em !important;

    }
    /*展品名称*/
    .card-title{
    	font-size: 1.8em !important;
    }
    /*展品类别*/
    .card-type{
    	font-size: 1.2em !important;
    	line-height: 1.8em;
    }
    /*展品作者*/
    .card-author{
    	font-size: 1.2em !important;
    }
    /*点赞收藏区域*/
    .card-footer{
    	background-color: white !important;
    	border-bottom-right-radius: 1.5em !important;
    	border-bottom-left-radius: 1.5em !important;
    	height: 5.5em !important;
    	padding-left: 2em !important; 
    	padding-right: 2em !important;   
    	padding-top: 1.5em !important;	
    }
    /*浏览点赞数字格式*/
    .fontposition{
    	font-size: 1.5em !important;
    }
    /*浏览点赞收藏按钮格式*/
    .btnstyle{
    	height:2em !important;
    	width: 2.5em !important; 
    	border-style: none;
    	background-repeat: no-repeat;
    	background-position: bottom;
    	background-position: right;
    	background-color: transparent;	
    }
    /*浏览按钮背景图片格式*/
    .size1{
    	background-size:   100% auto !important;
    }
    /*点赞/收藏按钮背景图片格式*/
    .size2{
    	background-size:  auto 100% !important;
    }
    /*收藏按钮布局*/
    .if_pick{
    	float: right !important;
    }
    /*同行布局格式*/
    .in{
    	display: inline !important; 
    }

}
/*查看更多*/
.btnmore{
	background-color: rgb(255,122,165);
	font-style: white;
	font-size: 1.3em;
	border-style: none;
	border-radius: 1.3em;
	width: 7em;
	height: 2.5em;
	color: white;
	font-family: 思源黑体 CN !important;
}
/*作品榜序号*/
.num_pos{
	width: 1.4em;
	height: 1.4em;
	border-style: solid;	
	border-color: black;
	border-radius: 1em;
	border-width: 1px;
	text-align: center;
	font-size: 7em;
	position: absolute;
	line-height: 1.25em;
	font-family: Goudy Old Style;
}
.n1{
	margin: auto;
	left: 0;
	right: 5em;
	top:0.2em;
	z-index: 5;
}
.n2{
	margin: auto;
	right: 0.5em;
	top:0.2em;
}
.n3{
	margin: auto;
	left:-0.6em;
	top:0;
	bottom:0;
}
.n4{
	margin: auto;
	right: -0.5em;
	top: 5em;
	bottom: 0;
}
.n5{
	margin: auto;
	left: -0.5em;
	bottom: 4em;
	z-index: 0;
}


/*导航栏*/
@media{
	.btn{
		border-radius: 30px !important;
		font-size: 0.9em !important;
	}	
	.nav-link{
		color: black !important;
		font-size: 0.9rem;
		border-style: none;
		background-color: transparent;
	}	
	.nav .active{

	}
	.nav-line{
	    background: none repeat scroll 0 0 transparent;
	    position: absolute;
	}
	.nav-line-color{
		height: 0.5rem;
		width: 2rem;
		background-color: rgb(128,235,245);
	}
}

/*年轻人的线上艺术生活馆*/
.fonttype1{
	font-family: 汉仪长美黑简;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}

/*Young artists&designers around you*/
.fonttype2{
	font-family: Bodoni MT;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
}

/*一周作品榜*/
.fonttype3{
	font-family: 造字工房言宋(非商用)常规体;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

/*2018.10.1-2018.10.7*/
.fonttype4{
	font-family: 造字工房言宋;
	font-size: 3em;
	line-height: 1em;
}

/*每天9:30AM-5:00PM<br/>江南大学设计学院<br/>1F 展览馆*/
.fonttype5{
	font-family: 思源黑体 CN;
	font-size: 1.3em;
	line-height: 1.7em;
	letter-spacing: 0.1em;
}

/*coming soon...*/
.fonttype6{
	font-family: 造字工房言宋;
	font-size: 3rem;
}

/*仓谷画社作品联展*/
.fonttype7{
	font-family: 造字工房言宋;
	font-size: 2.6rem;
}

/*the creation of Cang Gu Painting Society*/
.fonttype8{
	font-family: 造字工房言宋;
	font-size: 1.3rem;
}

/*活动介绍区*/
.design1{
	background-repeat: no-repeat;
	position: relative;
}

/*作品榜标题*/
.design2{
	top:4rem;
	position:relative;
}
.design2 img{
	width: 4em;
	height: auto;
}

/*上方活动状态和名称的布局信息*/
.cover1{
	right: 0px;
	left: 0px;
	width: auto;
	z-index: 4;
}
.cover1 img{
	height: 3rem;
	width: auto;
}

/*展览时间地点信息*/
.cover2{
	text-align:right;
	position: absolute;
	top: 12em;
	right: 1em;
	left: 0px;
	width: auto;
	z-index: 5;
}

/*小旗子的位置设置*/
.cover3{
	position: absolute;
	margin: auto;
	left: 0;
	right: 22rem;
	top: 5rem;
	bottom: 0rem;
}
.cover3 img{
	width: 6rem;
	height: auto;
}

/*div内图片填充形式（不重复，百分百填充）*/
.besize{
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

/*轮播区*/
@media{
	/*小圆点下沉7rem*/
	.carousel{
		padding-bottom: 7rem !important;
	}

	/*轮播区内图片的大小设置*/
	.carousel-inner img{
		width: 34rem !important;
		height: 34rem !important;	
	}
	/*左右选择按钮的样式设置*/
	.look{
		border-color: black;
		border-style: solid;
		border-width: 1px;
		border-radius: 4rem !important;
		width: 8rem !important;
		height: 8rem !important;
		top: 25rem !important;
		background-repeat: no-repeat !important;
		background-size: 100% 100% !important;
	}
	/*下方小圆点的样式设置*/	
	.carousel-indicators li
	{
		width: 0.5rem !important;
		height:0.5rem !important;
		border-radius: 0.25rem !important;
		background-color: rgb(255,122,165) !important;
		top: 0.5rem !important;
	}
	.carousel-indicators .active{
		width: 2rem !important;
		background-color: rgb(128,235,245) !important;
	}	
}

/*最大宽度不超过50em的自适应图片设置*/
/*	img{ 
		max-width:50em!important; 
		height:auto!important; 
		width:expression(this.width > 50 ? "50em" : this.width)!important;
	}
*/

/*logo大小设置*/
.logo img{
	height: 6rem;
	width: auto;
}

/*右下角logo布局*/
footer .logo{
	float: right;
}
.logopos{
	padding-right: 2rem;
	padding-bottom: 2rem;
}