
html{
	height: 100%;
	margin-bottom: 0 !important;

}
body{
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/*去掉点击蓝色边框*/
input,button{
	outline: none !important;
}
/*点击变手*/
a,label,button{
	cursor: pointer;
}
input{
	overflow-wrap: break-word;
}
/*登陆/注册按钮*/
#Login{
	position: absolute;
	float: left;
	right: -10rem;
}

/*元素居中*/
.middle {     
	width: auto;
	display:table;
	margin: auto;
}

/*文字方向旋转*/
.sidebar{	
	position:absolute;
	left:0px;
	padding:0;
	z-index: 1000;
	writing-mode:vertical-rl;
	text-orientation:mixed;
	display: inline-flex;
	margin-top: 20rem;
}
.sidebar ul{
	display: inline-flex;
	width: 2.2rem;
	height: 100%;
}
.sidebar ul li{
	margin-top: 20rem;
	height: 40rem;
}

/*作品榜展示样式设置*/
@media{
	/*模块间距*/
    .card-columns {
        column-count: 2 !important;
        column-gap: 5em !important;
    }
	/*模块样式*/
    .post{
    	margin-bottom: 3em !important;
    	border-radius: 1.5em !important;
    	border-style: none !important;
    	font-family: 思源黑体 CN;    	
    }
    /*展示图片与边框的距离*/
    .card-img-top{
    	padding-top: 3em !important;
    	padding-left: 2.5em !important;
    	padding-right: 2.5em !important;
    	padding-bottom: 2em !important;
    }
    /*图片展示区域在模块中的位置*/
    .card-body{
    	padding-bottom: 2.2em !important;

    }
    /*展品名称*/
    .card-title{
    	font-size: 1.8em !important;
    }
    /*展品类别*/
    .card-type{
    	font-size: 1.2em !important;
    	line-height: 1.8em;
    }
    /*展品作者*/
    .card-author{
    	font-size: 1.2em !important;
    }
    /*点赞收藏区域*/
    .card-footer{
    	background-color: white !important;
    	border-bottom-right-radius: 1.5em !important;
    	border-bottom-left-radius: 1.5em !important;
    	height: 5.5em !important;
    	padding-left: 2em !important; 
    	padding-right: 2em !important;   
    	padding-top: 1.5em !important;	
    }
    /*浏览点赞数字格式*/
    .fontposition{
    	font-size: 1.5em !important;
    }
    /*浏览点赞收藏按钮格式*/
    .btnstyle{
    	cursor: pointer;
    	height:2em !important;
    	width: 2.5em !important; 
    	border-style: none;
    	background-repeat: no-repeat;
		background-position: right bottom !important;
    	background-color: transparent;
    }
    /*浏览按钮背景图片格式*/
    .size1{
    	background-size:   100% auto !important;
    }
    /*点赞/收藏按钮背景图片格式*/
    .size2{
    	background-size:  auto 100% !important;
    }
    .if_like{

    }
    /*收藏按钮布局*/
    .if_pick{
    	float: right !important;
    }
    /*同行布局格式*/
    .in{
    	display: inline !important; 
    }

}
/*查看更多*/
.btnmore{
	background-color: rgb(255,122,165);
	font-style: white;
	font-size: 1.3em;
	border-style: none;
	border-radius: 1.3em;
	width: 7em;
	height: 2.5em;
	color: white;
	font-family: 思源黑体 CN !important;
}
/*作品榜序号*/
.num_pos{
	width: 1.4em;
	height: 1.4em;
	border-style: solid;	
	border-color: black;
	border-radius: 1em;
	border-width: 1px;
	text-align: center;
	font-size: 7em;
	position: absolute;
	line-height: 1.25em;
	font-family: Goudy Old Style;
}
.n1{
	margin: auto;
	left: 0;
	right: 5em;
	top:0.2em;
	z-index: 5;
}
.n2{
	margin: auto;
	right: 0.5em;
	top:0.2em;
}
.n3{
	margin: auto;
	left:-0.6em;
	top:0;
	bottom:0;
}
.n4{
	margin: auto;
	right: -0.1em;
	top: 5em;
	bottom: 0;
}
.n5{
	margin: auto;
	left: -0.5em;
	bottom: 4em;
	z-index: 0;
}


/*导航栏*/
@media{
	.btn{
		border-radius: 30px !important;
		font-size: 0.9em !important;
	}	
	.nav-link{
		color: black !important;
		font-size: 0.9rem;
		border-style: none;
		background-color: transparent;
	}	
	.nav .active{

	}
	.nav-line{
	    background: none repeat scroll 0 0 transparent;
	    position: absolute;
	}
	.nav-line-color{
		height: 0.5rem;
		width: 2rem;
		background-color: rgb(128,235,245);
	}
}

/*年轻人的线上艺术生活馆*/
.fonttype1{
	font-family: 汉仪长美黑简;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}

/*Young artists&designers around you*/
.fonttype2{
	font-family: Bodoni MT;
	font-size: 1.4rem;
	letter-spacing: 0.05rem;
}

/*一周作品榜*/
.fonttype3{
	font-family: 造字工房言宋(非商用)常规体;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

/*2018.10.1-2018.10.7*/
.fonttype4{
	font-family: 造字工房言宋;
	font-size: 3em;
	line-height: 1em;
}

/*每天9:30AM-5:00PM<br/>江南大学设计学院<br/>1F 展览馆*/
.fonttype5{
	font-family: 思源黑体 CN;
	font-size: 1.3em;
	line-height: 1.7em;
	letter-spacing: 0.1em;
}

/*coming soon...*/
.fonttype6{
	font-family: 造字工房言宋;
	font-size: 3rem;
}

/*仓谷画社作品联展*/
.fonttype7{
	font-family: 造字工房言宋;
	font-size: 2.6rem;
}

/*the creation of Cang Gu Painting Society*/
.fonttype8{
	font-family: 造字工房言宋;
	font-size: 1.3rem;
}

.fonttype9{
	font-size: 1.5rem;
	line-height: 3rem;
}

.fonttype10{
	font-size: 1.2rem;
	text-align: center;
	font-weight: 800;
	line-height: 8rem;
}

/*活动介绍区*/
.design1{
	background-repeat: no-repeat;
	position: relative;
}

/*作品榜标题*/
.design2{
	top:4rem;
	position:relative;
}
.design2 img{
	width: 4em;
	height: auto;
}

/*上方活动状态和名称的布局信息*/
.cover1{
	right: 0px;
	left: 0px;
	width: auto;
	z-index: 4;
}
.cover1 img{
	height: 3rem;
	width: auto;
}

/*展览时间地点信息*/
.cover2{
	text-align:right;
	position: absolute;
	top: 12em;
	right: 1em;
	left: 0px;
	width: auto;
	z-index: 5;
}

/*小旗子的位置设置*/
.cover3{
	position: absolute;
	margin: auto;
	left: 0;
	right: 22rem;
	top: 5rem;
	bottom: 0rem;
}
.cover3 img{
	width: 6rem;
	height: auto;
}

/*div内图片填充形式（不重复，百分百填充）*/
.besize{
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

/*轮播区*/
@media{
	/*小圆点下沉7rem*/
	.carousel{
		padding-bottom: 7rem !important;
	}

	/*轮播区内图片的大小设置*/
	.carousel-inner img{
		width: 34rem !important;
		height: 34rem !important;	
	}
	/*左右选择按钮的样式设置*/
	.look{
		border-color: black;
		border-style: solid;
		border-width: 1px;
		border-radius: 4rem !important;
		width: 8rem !important;
		height: 8rem !important;
		top: 25rem !important;
		background-repeat: no-repeat !important;
		background-size: 100% 100% !important;
	}
	/*下方小圆点的样式设置*/	
	.carousel-indicators li
	{
		width: 0.5rem !important;
		height:0.5rem !important;
		border-radius: 0.25rem !important;
		background-color: rgb(255,122,165) !important;
		top: 0.5rem !important;
	}
	.carousel-indicators .active{
		width: 2rem !important;
		background-color: rgb(128,235,245) !important;
	}	
}

/*logo大小设置*/
.logo img{
	height: 6rem;
	width: auto;
}

/*右下角logo布局*/
footer .logo{
	float: right;
}
.logopos{
	padding-right: 2rem;
	padding-bottom: 2rem;
}


/*商品详情页*/
.bgstyle{
	background-size: 100% auto !important;
}
/*购物车按钮*/
.btn_shop{
	width: 5rem;
	height: 2rem;
	background-repeat: no-repeat;
	background-size:auto 70% !important;
	background-position: center;
}

@media{
	.jumbotron{
		border-radius: 0.5rem !important;
		padding: 2rem !important;
	}	
}

/*最大宽度不超过50em的自适应图片设置*/
/*	img{ 
		max-width:50em!important; 
		height:auto!important; 
		width:expression(this.width > 50 ? "50em" : this.width)!important;
	}
*/
@media{	
	.main_show_img img{
		width: 100%;
		height: auto;
		float:top;
		margin: 20% auto;
	}
	.main_show_img{
		/*高度随宽度变化而变化，高度为宽度的1倍*/
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		overflow: hidden;
	}
	.deputy {
		float:left;
        margin:10px auto;
		width: 5.5rem;
		height: 5.5rem;
		border-width: 2px !important;
		border-color: lightgrey !important;
		background-color: transparent !important;
		background-size: auto auto !important;
		border-style: solid;
	}
	.btn_Big-Like{
		width: 3.5rem;
		height: 3.5rem;
		background-size: auto 100% !important;
		background-repeat: no-repeat !important;
		background-position: center;
		background-color: transparent;
		border-radius: 0 !important;
	}
	.production_name{

	}
	.product_label{
		background-color: rgb(16,180,255);
		border-radius: 1rem;
		height: 1.3rem;
		width: 4rem;
		font-size: 0.6rem !important;
		color: white;
		background-position: center;
		border: none;
	}
}
.spxq_btn{
	width: 1.5rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-position: bottom;
}
.deputy_s{
	width: 3.4rem;
	height: 3.4rem;
	border-width: 1px !important;
	border-color: lightgrey;
	background-color: transparent !important;
	background-size: auto auto !important;
	border-style: solid;
}

.numlook{
	width: 5.3rem;
	height: 2rem;
	border-style: solid;
	border-radius: 1rem;
	border-width: 1px;
	border-color: grey;
	position: absolute;
	pointer-events:none;
}
.btn-tra1{
	border-style: none;
	width: 1.5rem;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
	background-color: transparent;
}
.btn-tra2{
	border-style: none;
	width: 1.5rem;
	height: 2rem;
	font-size: 1rem;
	line-height: 2rem;
	border-bottom-right-radius: 1rem;
	border-top-right-radius: 1rem;
	background-color: transparent;
}
.output-tra{
	width: 1.7rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
	position: center;
}
.kucun{
	padding-left: 1rem;
	font-size: 0.7rem;
}
.btn_buy{
	font-size: 0.9rem;
	width: 6.5rem;
	height: 2.5rem;
	border-radius: 1.5rem;
	background-color: rgb(255,122,165) !important;
	color: white !important;
	border-color: transparent !important;
}

.btn_in{
	font-size: 0.9rem;
	width: 7.5rem;
	height: 2.5rem;
	border-radius: 1.5rem;
	background-color:white;
	border-color: lightgrey;
}
.headimg{
	background-color:rgb(237,237,237);
	width:4.4rem;
	height:4.4rem;
	border-radius: 2.2rem;
}

.headimg1{
	background-color:rgb(237,237,237);
	width:6.6rem;
	height:6.6rem;
	border-radius: 3.3rem;
}
.author-name{
	color:rgb(16,180,255);
	width: 3rem;
	padding-left: 0.2rem;
}

.card1{
	border-radius: 0.2rem !important;
	background-color: rgb(79,79,79) !important;
	border-width: 0px !important;
	margin: 5px !important;
}
.card-body1{
	padding: 5px !important;
}
.card-img-top-s{
	/*高度随宽度变化而变化，高度为宽度的1.5倍*/
	width: 100%;
	height: 0;
	padding-bottom: 150%;
	overflow: hidden;
}
.card-img-top-s img{
	width: 100%;
	height: auto;
}
.card-text{
	text-align: center;
	font-size: 0.5rem;
	line-height: 1.2rem;
	color: rgba(255,255,255,0.5);
}

.foot1{
	padding: 5px !important;
	border-bottom-left-radius: 0.2rem !important;
	border-bottom-right-radius: 0.2rem !important;
	border-color: rgba(255,255,255,0.1) !important;
	height: auto !important;
	font-size:0.5rem;
	background-color: rgb(79,79,79) !important;
	color: rgba(255,255,255,0.5);
}
.btn1{
    height:1.2em !important;
	width: 1.5em !important; 
	border-style: none;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
	background-color: transparent;	
}

.card2{
	border-radius: 0.5rem !important;
	border-width: 0px !important;
	margin: 10px !important;
}
.card-body2{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.card-img-top-s1{
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
	padding-bottom: 1rem !important;
	position: relative;
}
.btn-new{
	position: absolute;
	background-color: rgb(174,154,127);
	border-radius: 0.5rem;
	top: 0.7rem;
	left: -0.1rem;
	border: none;
	color: white;
	font-size: 0.8rem;
	line-height: 1rem;
	font-family: 思源黑体 CN;
	letter-spacing: 1px;
}
.card-text1{
	text-align: left;
	font-size: 0.6rem;
	line-height: 0rem;
	color: rgb(174,154,127);
}
.card-text2{
	text-align: right;
	font-size: 1.3rem;
	line-height: 0rem;
	color: rgb(255,122,165);
}
.foot2{
	border-bottom-left-radius: 0.5rem !important;
	border-bottom-right-radius: 0.5rem !important;
	border-color: rgba(174,154,127,0.3) !important;
	font-size:0.6rem;
	color: rgb(174,154,127);
	height: auto !important;
}
.btn2{
	height:1em !important;
	width: 2em !important; 
	border-style: none;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
	background-color: transparent;	
}
.btn-change{
	color: rgb(16,180,255);
	background-color: transparent;
	border: none;
}


.share img{
	height: 2rem;
	width: auto;
	margin: 0.5rem;
}
.img-rounded{
	height: 4.4rem;
	width: 4.4rem;
	border-radius: 2.2rem;
}
.who{
	font-weight: 600;
}
.when{
	padding-left: 1.5rem;
	color: rgba(0,0,0,0.5);
}
.what{
	padding-top: 1rem;
	color: rgba(0,0,0,0.5);
	word-wrap:break-word;
}
.hot{
	position: absolute;
	top: 0px;
	right: 0px;
	color: rgb(255,122,165);
	font-size: 0.8rem;
	font-weight: 600;
	right: 2rem;
}
.hot img{
	width: auto;
	height: 0.8rem;
	
}


/*未实现：
1.导航栏滑块移动
2.留言区文字自动分行
3.图片自适应长宽居中显示在div中*/


/*个人主页部分*/
.main-img{
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0px !important;
	border-radius: 100rem;
}
.main-img img{
	width: 100%;
	height:auto;
}

.grzy-head{
	width:100%;
	position: absolute;
}
.grzy-head img{
	width: 100%;
	height:auto;
}
.btn-attention{
	background-color: rgb(255,122,165);
	border-style: none;
	border-radius: 1em;
	width: 5em;
	height: 2em;
	color: white;
	font-family: 思源黑体 CN !important;
	line-height: 1.3rem !important;
	position:absolute;
	margin:auto;
	left:8rem;
	top: 0;
}
.visitor{
	width: 2rem;
	height: 2rem;
	position: absolute;
	border-radius: 1rem;
}


.card3{
	margin: 0.5rem !important;
	text-align: center;
	font-size: 0.5rem;
	line-height: 1.2rem;
	color: rgba(0,0,0,0.5);
}
.card-body3{
	padding: 0.5rem !important;
}
.foot3{
	padding: 0.5rem !important;
	height: auto !important;
}

.foot4{
	padding-left: 3rem !important;
	padding-right: 3rem !important;
	font-size: 1.5rem;
	border:none !important;
	padding-top: 0rem !important;
}

.card-body4{
	padding: 2rem !important;
}

.card-text3{
	padding-top: 1rem !important;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}

.card4{
	color: rgb(137,137,137);
	border:none !important;
}

.card-img-top-s2{
	/*高度随宽度变化而变化，高度为宽度的1.5倍*/
	width: 100%;
	height: 0;
	padding-bottom: 120%;
	overflow: hidden;
}
.card-img-top-s2 img{
	width: 100%;
	height: auto;
}

.btn-list{
	border: none !important;
	background-color: transparent !important;
	left: 1rem;
}


.look1
{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 2rem !important;
	width: 4rem !important;
	height: 4rem !important;
	top: 85%!important;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
} 


.img_size{
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
}
.img_size img{
	width: 50% !important;
	height: auto !important;
}


.ZL_layout{
	position:absolute !important;
	left: 55%;
	width: 35%;
}

.head{
	font-size: 2rem;
	font-weight: 600;
	line-height: 6rem;
}

.abstract{
	color:rgb(137,137,137);
	font-weight: normal;
}

.info{
	font-weight: 200;
	font-size: 0.8rem;
	color:rgb(192,192,192);
}

.info img{
	height: 1rem;
}


.card-img-top-s3{
	/*高度随宽度变化而变化，高度为宽度的1.5倍*/
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}
.card-img-top-s3 img{
	width: 100%;
	height: auto;
}


.btn_shaixuan{
	color: rgb(207,207,207) !important;
	border-color: rgb(207,207,207)!important;
	border-style: solid !important;
	border-width: 0.1rem !important;
	border-radius: 1rem !important;
	height: 2rem !important;
	line-height: 1rem !important;
}

.search-box{
	background-color: rgb(222,222,222);
	border-radius: 2rem;
}

.trans{
	background-color: transparent !important;
	border: none !important;
}

.look2{
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 4rem !important;
	width: 8rem !important;
	height: 8rem !important;
	margin: auto;
	background-repeat: no-repeat !important;
	background-size: 100% 100% !important;
}

.img-size img{
	height: 35rem !important;
	width:auto !important;
}

.textin{
	background-color: rgb(216,216,216);
	border-radius: 0.5rem;
	position: relative;
}

.text{
	position: absolute;
	resize: none;
	width:90%;
	height:80%;
	top:10%
}

.detials{
	padding-top: 1rem;
	padding-bottom: 2rem;
	background-color: white;
	border-radius: 1rem;
	left:1rem;
}

.detials1 p{
	font-weight: 800;
}

.detials1  ul{
	font-weight: normal;
	list-style: none;
	text-align: left;
	padding:0;
}

.detials2 p{
	font-weight: 800;
}
.detials2  ul{
	font-weight: normal;
	list-style: none;
	text-align: left;
	padding:0;
}

.detials2 ul li{
	padding-right: 1rem;
	display: inline !important;
}

.paybox{
	height: 2.2rem !important;
	border-radius: 1.1rem !important;
	border-color: gray;
	border-style: solid;
	border-width:0.05rem;
	padding-left: 1rem;
	padding-right: 1rem;
	line-height: 2rem;
	width: 12rem;
}
.paybox input{
	padding-left:2rem;
	border:none !important;
}

.paybox label{
	padding-left:1rem;
}
 .paybox label img{
 	height:1.5rem;
 	width:auto;
 	padding-left:1rem;
 }

 .bank{
 	color:black !important;
 	font-size: 1rem !important;
 	border: none !important;
	background-color: transparent !important;
	padding-left: 0;
 }

 .card5{
	border-radius: 2rem !important;
	border-width: 0px !important;
	margin: 1rem !important;
}

.foot5{
	border-bottom-left-radius: 2rem !important;
	border-bottom-right-radius: 2rem !important;
	border-color: rgba(174,154,127,0.3) !important;
	color: rgb(174,154,127);
	height: auto !important;
}

.card-img-top-s5{
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	padding-bottom: 2rem !important;
	position: relative;
}

.btn-new1{
	position: absolute;
	background-color: rgb(174,154,127);
	border-radius: 1rem;
	top: 2rem;
	left: -0.1rem;
	border: none;
	color: white;
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 思源黑体 CN;
	letter-spacing: 1px;
	width: 4rem;
}

.liked {
    	filter:invert(65%) sepia(89%) saturate(2229%) hue-rotate(303deg) brightness(109%) contrast(104%);
    	border-style: none;
}
/*.colorful {
    display: inline-block;
    width: 32px; height: 32px;
    background-color: #f4615c;
    -webkit-mask: url(img/) no-repeat;
    mask: url(./) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}*/